<h1>Book Listing</h1>

<h4>
  <ul>
    <% @books.each do |book| %>

      <!-- link_to "Some link", books_path(book.id)
      -->

      <li>
        <%= link_to book.title, book_path(book.id) %>:
        <%= book.author.name %>
      </li>
    <% end %>
  </ul>
</h4>
