<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<h4>
  <ul>
    <% @books.each do |book| %>
      <li><%= book[:title] %>: <%= book[:author] %>
      </li>
    <% end %>
  </ul>
</h4>
